
h1 {
	margin: 1em 1em 1em 1em;
}
fieldset {
	padding: 1em 1em 1em 1em;
	margin: 1em 1em 1em 1em;
}
label {
	width: 6em;
	display: block;
	float:left;
}
.displayBody {
	padding: 1em 1em 1em 1em;
	margin: 1em 1em 1em 1em;
	border: solid red 1px;
}
.listBox {
	border: solid blue 1px;
}
.link {
	text-decoration: underline;
	color: blue;
	cursor: hand;
}
#codeBoxWrapper {
	margin: 1em 0em 1em 0em;
	background-color: #eee;
	border: solid blue 1px;
}
#codeBoxWrapper legend {
	font-weight: 700
}